:root{
    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
body {      
  margin: 0;      
  display: flex;
  flex-direction: column;  
  height: auto;
  min-height: 100vh;

}
main {
  flex: 1;
}
header p{
    font-size: 24px;
    font-weight: bold;
    background-color: blue;
    color: #ffffff;
    padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
    text-align: center;
}

#course-title{
    color: #41d115;
}

nav{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
nav a {
	display: block;
	color: #fff;
    font-size: 18px;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: #41d115;
}


main {
    display: grid;
    justify-content: center;
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  height: auto;
}
.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}
.card-content {
  padding-left:  20px;
padding-right: 20px;
display: flex   ;
flex-direction: column;
margin-bottom: 20px;
justify-content: center;
gap: 20px;
min-width: 250px;
}
h1{
    margin-bottom: 1rem;
    text-align: center;
}
h2{
    background-color: #41d115;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.aboutme,
.place {
  margin-top: 20px;
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 5px; /* espacio entre p e img */
}
.breackline p{
    font-size: 20px;
    margin-bottom: -15px;
    text-align: center;
    margin-right: 60px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: blue;
    margin-top: 2rem;
    border-top: 1px solid #ddd;
}
footer p {
    color: #ffffff;
}
#lastmodified{
    font-size: 14px;
    color: #00ff37;
}
#currentyear{
    font-size: 14px;
    color: #00ff37;
    font-weight: bold;
}

@media(min-width: 700px) {
	nav ul {
		display: flex;
        justify-content:center;
	}
}

@media screen and (max-width: 700px) {
    .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}